.timeline li .timeline-panel.mdLink{
	background-color:#ffa !important;
}

.timeline > li > .timeline-panel.mdLink::after{
	border-color: transparent #ffa;
}

ul#filterList{
	list-style-type:none;
	margin:0; 
	padding:0;
	margin-bottom:1em;
}
ul#filterList li{
	display:inline-block;
	margin:0.3em !important;
}

form#search-form{
	position: relative;
}

span.ui-helper-hidden-accessible{
	display: none !important;
}
.ui-state-focus{
	color:#ffffff;
	background-color: #428bca;
}
.ui-autocomplete{
    z-index:1050;
    max-height: 200px;
	overflow:auto;
}